.button {
    -fx-border-color: rgb(51, 102, 0);
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-color: linear-gradient( rgb(205, 255, 179), rgb(85, 255, 0));
    -fx-background-radius: 13px;

}

.button:hover {
    -fx-background-color: linear-gradient( rgb(236, 255, 223), rgb(85, 255, 0));
}

.button:pressed {
    -fx-background-color: linear-gradient( rgb(218, 255, 192), rgb(56, 168, 0));
}

.button:focused {
    -fx-border-width: 2px;
}

.root {
    -fx-background-color: linear-gradient( rgb(219, 255, 195), rgb(164, 255, 118));
}

.lightbackground {
    -fx-background-color: rgb(255, 255, 255);
}

.lightgreenbackground {
    -fx-background-color: rgb(243, 255, 235);
}

.rechteckbutton {
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
}


/*
.grid {
    -fx-background-color: rgb(171,220,156);
}

.pane {
    -fx-background-color: rgb(224,225,215);
}

.combo-box {
    -fx-border-color: rgb(51, 102, 0);
    -fx-border-width: 1px;
    -fx-background-color: linear-gradient( rgb(205, 255, 179), rgb(85, 255, 0));
}

.button:hover {
    -fx-background-color: linear-gradient( rgb(236, 255, 223), rgb(85, 255, 0));
}

.combo-box:pressed {
    -fx-background-color: linear-gradient( rgb(218, 255, 192), rgb(56, 168, 0));
}

.combo-box:focused {
    -fx-border-width: 2px;
}


.text-field {
    -fx-text-box-border: rgb(51, 102, 0);
}

.text-field:focused {
    -fx-border-width: 2px;
}*/


